body {
    font-family: sans-serif;
    margin:20px;
    overflow:hidden;
}

/* タイトル */

h1 {
    font-size: 24px;
}

.top {
    display:flex;
    gap:30px;
    align-items:center;
    margin-bottom:20px;
}

textarea {
    width:470px;
    height:40px;
    border:4px solid black;
    font-size:18px;
    resize:none;
}

button {
    background:white;
    border:3px solid black;
    font-size:14px;
    padding:4px 8px;
    cursor:pointer;
}

button:hover {
    background:#eee;
}

.scroll-area {
    width: 970px;
    height: 650px !important;
    border: 4px solid black;
    padding: 10px;
    overflow-y: scroll !important;
    overflow-x: hidden;
}

.grid {
    display:grid;
    grid-template-columns:repeat(5,180px);
    gap:15px;
    width:max-content;
}

.card {
    border:4px solid black;
    padding:10px;
    height:190px;
    box-sizing:border-box;
}

.card-title {
    height:25px;
    font-size:16px;
}

.card img {
    width:140px;
    height:90px;
    object-fit:contain;
    border:4px solid black;
}

.card-buttons {
    margin-top:8px;
    display:flex;
    gap:8px;
}

.card-buttons button {
    width:70px;
    padding:5px;
    font-size:16px;
}
