body {
    font-family: sans-serif;
    margin:0;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    align-items:center;
}

h1 {
    font-size: 24px;
}

.top {
    display:flex;
    gap:30px;
    align-items:center;
    margin-bottom:20px;
}

textarea {
    width:470px;
    height:40px;
    border:4px solid black;
    font-size:18px;
    resize:none;
}

button {
    background:white;
    border:3px solid black;
    font-size:14px;
    padding:4px 8px;
    cursor:pointer;
}

button:hover {
    background:#eee;
}

.scroll-area {
    width: 970px;
    height: 650px !important;
    border: 4px solid black;
    padding: 10px;
    overflow-y: scroll !important;
    overflow-x: hidden;
}

.grid {
    display:grid;
    grid-template-columns:repeat(5,180px);
    gap:15px;
    width:max-content;
}

.card {
    border:4px solid black;
    padding:10px;
    height:190px;
    box-sizing:border-box;
}

.card-title {
    height:25px;
    font-size:14px;
}

.card img {
    width:140px;
    height:90px;
    object-fit:contain;
    border:4px solid black;
}

.card-buttons button {
    width:72px;
    height:40px;
    padding:3px;
    font-size:13px;
    gap:12px;
}

/* スマホ用 */
@media screen and (max-width: 600px) {

    body {
        background:red !important;
        overflow:hidden;
        padding:10px;
    }

    h1 {
        font-size:20px;
    }

    .top {
        width:100%;
        flex-direction:column;
        gap:10px;
        margin-bottom:15px;
    }

    textarea {
        width:90%;
        height:45px;
        font-size:16px;
    }

    .top button {
        width:90%;
        height:40px;
    }

    .scroll-area {
        width:95vw;
        height:70vh !important;
        padding:5px;
    }

    .grid {
        grid-template-columns:repeat(2, 1fr);
        gap:8px;
        width:100%;
    }

    .card {
        width:100%;
        height:170px;
        padding:5px;
    }

    .card-title {
        font-size:12px;
        height:22px;
    }

    .card img {
        width:90px;
        height:70px;
    }

    .card-buttons {
        display:flex;
        gap:5px;
    }

    .card-buttons button {
        width:55px;
        height:32px;
        font-size:11px;
    }
    
}
